<!-- FOOTER -->

<footer class="site-footer">

  <div class="footer-content page-width grid12">
    <div class="footer-logos">
      <img id="footer_logo" width="253" height="246" src="{{ 'assets/branding/BMDlogo.png' | relative_url }}" alt="Logo for the Brick & Mortar District at Plum Creek in Kyle, TX">
      <div class="developers">
        <img id="dev_logos" width="458" height="87" src="{{ 'assets/branding/devlogos.png' | relative_url }}" alt="Momark Development and Cardinal logos (developing Kyle, TX)">
      </div>
      
    </div>
    
    <div class="flinks">
      <ul class="footer-links ff-micro">
        <li>
          <a href="">Sign Up</a>
        </li>
        <span>&#8226;</span>
        <li>
          <a href="">Contact Us</a>
        </li>
        <span>&#8226;</span>
        <li>
          <a href="">Site Map</a>
        </li>
        <span>&#8226;</span>
        <li>
          <a href="">Privacy Policy</a>
        </li>
      </ul>
      <div class="addr-social">
        <p class="ff-micro">Kyle, TX</p>
        <span class="social-icons">
          <a href="">
            <img src="{{ 'assets/branding/Facebook.png' | relative_url }}" alt="The Facebook page for the Brick & Mortar District at Plum Creek in Kyle, TX">
          </a>
          <a href="">
            <img src="{{ 'assets/branding/LinkedIn.png' | relative_url }}" alt="The LinkedIn page for the Brick & Mortar District at Plum Creek in Kyle, TX">
          </a>
          <a href="">
            <img src="{{ 'assets/branding/Instagram.png' | relative_url }}" alt="The Instagram page for the Brick & Mortar District at Plum Creek in Kyle, TX">
          </a>
          <a href="">
            <img src="{{ 'assets/branding/Twitter.png' | relative_url }}" alt="The Twitter page for the Brick & Mortar District at Plum Creek in Kyle, TX">
          </a>
          <a href="">
            <img src="{{ 'assets/branding/YouTube.png' | relative_url }}" alt="The Youtube page for the Brick & Mortar District at Plum Creek in Kyle, TX">
          </a>

        </span>
      </div>
    </div>
  </div>
  <div class="legal page-width">
    <small class="ff-micro">
    {{ site.data.business.legal_text }}
    </small>
    <img width="39" height="29" src="{{ site.data.business.legal_image }}" alt="the Equal Housing Opportunity icon">
  </div>
  <div style="width: 100%;height: 22px;background:black;"></div>
</footer>

