<!-- FOOTER -->

<footer class="site-footer">

  <div class="wrapper">

    

    <div class="footer-col-wrapper">

      <div class="footer-col">
        <ul class="footer-links">
          <li>
            <a href="">Sign Up</a>
          </li>
          <li>
            <a href="">Contact Us</a>
          </li>
          <li>
            <a href="">Site Map</a>
          </li>
          <li>
            <a href="">Privacy Policy</a>
          </li>
        </ul>
        <div class="addr-social">
          <p>xxxxx Kyle, TX xxxxx</p> <span class="social-icons">FB etc.</span>
        </div>
      </div>
    </div>

    
  </div>
  <div class="legal">
    <small>
    {{ site.data.business.legal_text }}
    </small>
    <img src="{{ site.data.business.legal_image }}">
  </div>
  <div style="width: 100%;height: 22px;background:black;"></div>
</footer>

