<!-- FOOTER -->

<footer class="site-footer">

  <div class="footer-content page-width">
    <div class="footer-logos">
      <img id="footer_logo" width="253" height="246" src="{{ 'assets/branding/BMDlogo.png' | relative_url }}" alt="Brick & Mortar District at Plum Creek logo">
      <div class="developers">
        <img id="dev_logos" width="458" height="87" src="{{ 'assets/branding/devlogos.png' | relative_url }}" alt="Momark Development and Cardinal logos">
      </div>
      
    </div>
    
    <div class="links">
      <ul class="footer-links">
        <li>
          <a href="">Sign Up</a>
        </li>
        <li>
          <a href="">Contact Us</a>
        </li>
        <li>
          <a href="">Site Map</a>
        </li>
        <li>
          <a href="">Privacy Policy</a>
        </li>
      </ul>
      <div class="addr-social">
        <p>xxxxx Kyle, TX xxxxx</p> <span class="social-icons">FB etc.</span>
      </div>
    </div>
  </div>
  <div class="legal page-width">
    <small>
    {{ site.data.business.legal_text }}
    </small>
    <img width="39" height="29" src="{{ site.data.business.legal_image }}" alt="the Equal Housing Opportunity icon">
  </div>
  <div style="width: 100%;height: 22px;background:black;"></div>
</footer>

