<div class="the-people page-width">
	<h2>{{ site.data.the_people_behind.name }}</h2>
	<div class="whos">
		<div class="negley who">
			<div class="icon-space">
				<img src="{{ 'assets/branding/negleystar.png' | relative_url }}" alt="Icon for {{ site.data.the_people_behind.c1t }}">
			</div>
			<h3>{{ site.data.the_people_behind.c1t }}</h3>
			<p>{{ site.data.the_people_behind.c1d }}
			</p>
			<a href="{{ site.data.the_people_behind.c1l }}" title="Visit the website for {{ site.data.the_people_behind.c1t }}">Visit</a>
		</div>
		<div class="momark who">
			<div class="icon-space">
				<img src="{{ 'assets/branding/momarksmall.png' | relative_url }}" alt="Icon for {{ site.data.the_people_behind.c2t }}">
			</div>
			<h3>{{ site.data.the_people_behind.c2t }}</h3>
			<p>{{ site.data.the_people_behind.c2d }}
			</p>
			<a href="{{ site.data.the_people_behind.c2l }}" title="Visit the website for {{ site.data.the_people_behind.c2t }}">Visit</a>
		</div>
		<div class="cardinal who">
			<div class="icon-space">
				<img src="{{ 'assets/branding/cardinalsmall.png' | relative_url }}" alt="Icon for {{ site.data.the_people_behind.c3t }}">
			</div>
			<h3>{{ site.data.the_people_behind.c3t }}</h3>
			<p>{{ site.data.the_people_behind.c3d }}
			</p>
			<a href="{{ site.data.the_people_behind.c3l }}" title="Visit the website for {{ site.data.the_people_behind.c3t }}">Visit</a>
		</div>
		<div class="kyle who">
			<div class="icon-space">
				<img src="{{ 'assets/branding/kylesmall.png' | relative_url }}" alt="Icon for {{ site.data.the_people_behind.c4t }}">
			</div>
			<h3>{{ site.data.the_people_behind.c4t }}</h3>
			<p>{{ site.data.the_people_behind.c4d }}
			</p>
			<a href="{{ site.data.the_people_behind.c4l }}" title="Visit the website for {{ site.data.the_people_behind.c4t }}">Visit</a>
		</div>
	</div>

</div>


