<img class="mobile" src="{{ 'assets/home/hats1.png' | relative_url }}">
<div class="sized_section vcen hats-bg">
	<div class="grid14">
		<article class="hats-content fc-white">
			<div class="">
				<h2 class="fs-large fup">{{ site.data.hang_your_hats_here.title }}</h2>
				<div class="ff-micro fs-body">
					<p>{{ site.data.hang_your_hats_here.body }}</p>
				</div>
				<a class="cta" href="{{ site.data.hang_your_hats_here.burl }}">{{ site.data.hang_your_hats_here.btext }}</a>
			</div>
		</article>
		<div class="hats-images">
			<img class="first desktop" src="{{ 'assets/home/hats1.png' | relative_url }}">
			<img class="second" src="{{ 'assets/home/hats2.jpg' | relative_url }}">
		</div>
	</div>
</div>