<div class="sized_section business-bg vcen" style="">
	<div class="grid14">
		<article class="business-content fc-white">
			<div class="">
				<h2 class="fs-large fup">{{ site.data.businesses_welcome.title }}</h2>
				<div class="ff-micro fs-body">{{ site.data.businesses_welcome.body | markdownify }}
				</div>
				<a class="cta" href="{{ site.data.businesses_welcome.burl }}">{{ site.data.businesses_welcome.btext }}</a>
			</div>
		</article>
		<div class="business-images">
			<div class="lazy" data-bg="{{ 'assets/home/workman.png' | relative_url }}">
				<img class="first lazy" data-src="{{ 'assets/home/workman.png' | relative_url }}">
			</div>
			<div class="lazy" data-bg="{{ 'assets/home/workladies.png' | relative_url }}">
				<img class="lazy" data-src="{{ 'assets/home/workladies.png' | relative_url }}">
			</div>
		</div>
	</div>
	<span class="bigword work animate__animated" data-animations="animate__slideInLeft animate__slower">WORK</span>
</div>

<div class="slide-holder">
	<div class="slidebar biz animate__animated" data-animations="animate__slideInRight animate__slower animate__delay-1s">
	</div>
</div>
