<div class="hero_mobile_sections mobile">
	<img class="" src="{{ 'assets/home/m_hero_1.jpg' | relative_url }}" alt="Man with his daughter enjoying living at the Brick & Mortar District at Plum Creek">

	<div class="sideby">
		<div class="lazy" data-bg="{{ 'assets/home/m_hero_text.jpg' | relative_url }}">
			<img class="" src="{{ 'assets/home/m_hero_text.jpg' | relative_url }}" alt="Brick & Mortar District at Plum Creek offers More to the Mix (of life!)">
		</div>
		<div class="lazy" data-bg="{{ 'assets/home/m_hero_2.jpg' | relative_url }}">
			<img class="" src="{{ 'assets/home/m_hero_2.jpg' | relative_url }}" alt="A woman and a man enjoying socializing at the Brick & Mortar District at Plum Creek">
		</div>
		
	</div>

	<img class="" src="{{ 'assets/home/m_hero_3.jpg' | relative_url }}" alt="Man working in the commercial offices at the Brick & Mortar District at Plum Creek">
</div>

<div class="hero_image">
	<img class="desktop lazy" data-src="{{ site.data.hero_image.hero_image }}" alt="{{ site.data.hero_image.hero_image_alt }}">
	<img class="mobile" src="{{ site.data.hero_image.hero_image_mobile }}" alt="{{ site.data.hero_image.hero_image_alt }}" width="830" height="978">
</div>
<div class="slide-holder">
	<div class="slidebar hero animate__animated" data-animations="animate__slideInRight">
	</div>
</div>
<!-- {{ site.data.hero_image.hero_image_mobile }} -->
