<div class="sized_section vcen charm-bg">
	<div class="grid14">
		<article class="charm-content fc-white vcen">
			<div class="">
				<h2 class="fs-large fup">{{ site.data.the_intersection.title }}</h2>
				<p class="ff-micro fs-body">{{ site.data.the_intersection.body }}
				</p>
				<img class="charm_map lazy" data-src="{{ 'assets/home/charm_map.png' | relative_url }}" alt="a decorative map of Kyle, TX showing nearby towns">
			</div>
		</article>
		<span class="tower">
			<img class="lazy" data-src="{{ 'assets/home/charm_tower.png' | relative_url }}">
		</span>
		<span class="people">
			<img class="lazy" data-src="{{ 'assets/home/charm_people.jpg' | relative_url }}">
		</span>

	</div>
</div>
