<div class="slide-holder">
	<div class="slidebar footer animate__animated" data-animations="animate__slideInRight animate__slower animate__delay-1s">
	</div>
</div>


<img class="footer_hero desktop" width="1920" height="878" src="{{ 'assets/branding/footer_img.jpg' | relative_url }}" alt="Rendering of the Brick & Mortar District at Plum Creek and the Veteran's  Park">
<img class="footer_hero mobile" width="1000" height="878" src="{{ 'assets/branding/footer_img_mobile.png' | relative_url }}" alt="Rendering of the Brick & Mortar District at Plum Creek and the Veteran's  Park">