<div class="destination-bg">
	<div class="grid14">
		<div class="destination-images">
			<img class="first lazy" data-src="{{ 'assets/home/dest1.png' | relative_url }}">
			<img class="lazy" data-src="{{ 'assets/home/dest2.png' | relative_url }}">
		</div>
		<article class="destination-content fc-white vcen">
			<div class="">
				<h2 class="fs-large fup">{{ site.data.destined_for_destionation.title }}</h2>
				<div class="ff-micro fs-body">
					<p>{{ site.data.destined_for_destionation.body }}</p>
				</div>
				<a class="cta" href="{{ site.data.destined_for_destionation.burl }}">{{ site.data.destined_for_destionation.btext }}</a>
			</div>
		</article>
	</div>
	<span class="bigword visit animate__animated" data-animations="animate__slideInUp animate__slower">VISIT</span>
</div>
<div class="slide-holder">
	<div class="slidebar dest animate__animated" data-animations="animate__slideInRight animate__slower animate__delay-1s">
	</div>
</div>
