<div id="interest_form" class="sized_section vcen interest-bg" style="">
	<div class="grid12 page-width">
		<article class="interest-content fc-white ">
				<h2 class="fs-large fup fc-dark">{{ site.data.interest_list.title }}</h2>
				<p class="ff-micro fs-body fc-dark">{{ site.data.interest_list.body }}
				</p>
		</article>
		<article class="interest-form">
			<form>
				<input type="text" name="Email">
				<input type="submit" name="Submit">
			</form>
		</article>

	</div>
</div>
<div class="divbar red push" style="background-image:url('{{ 'assets/branding/redbar.png' | relative_url }}')">
</div>