<div class="sized_section vcen mm-bg">
	<img class="guitar lazy animate__animated" data-animations="animate__slideInRight animate__slower" src="{{ 'assets/home/mm-guitar.png' | relative_url }}">
	<div class="grid14">
		<article class="mm-content fc-white page-width">
			<div class="">
				<h2 class="fs-large fup">{{ site.data.more_to_the_mix.title }}</h2>
				<p class="ff-micro fs-body">{{ site.data.more_to_the_mix.body }}
				</p>
			</div>
		</article>
		<article class="mm-images">
			<img class="lazy animate__animated" data-animations="animate__slideInRight" data-src="{{ 'assets/home/mm_record.png' | relative_url }}" alt="a woman sunbathing in a pool in the shape of a vinyl record">
		</article>
	</div>
	
</div>
<div class="slide-holder more">
	<div class="slidebar more animate__animated" data-animations="animate__slideInLeft animate__slower">
	</div>
</div>