
<div class="news" style="background-image:url('{{ 'assets/branding/newsbg.png' | relative_url }}');">
  <img id="lightning" width="490" height="257" src="{{ 'assets/branding/lightning.png' | relative_url }}" alt="A decorative lighting image pointing towards the News section">
  <h2 class="post-header">
  {{ site.data.now_happening.name | default: "Now Happening"}}</h2>
  <span id="newsbig" class="animate__animated animate__slideInLeft animate__slower">NEWS</span>
  <section class="news-list">
    {%- for post in site.posts -%}
      <article>
          <a class="post-link" href="{{ post.url | relative_url }}">
            <img src="{{ post.hero }}" alt="{{ post.preview_alt }}">
            <h3>{{ post.title | escape }}</h3>
          </a>
      </article>
    {%- endfor -%}
  </section>
</div>
    

