<div class="sized_section vcen mm-bg">
	<img class="guitar lazy animate__animated" data-animations="animate__slideInLeft animate__slower" src="{{ 'assets/home/mm-guitar.png' | relative_url }}">
	<div class="grid14">
		<article class="mm-content fc-white page-width">
			<div class="">
				{%- if page.title -%}
				<h1 class="page-heading">The Brick & Mortar District</h1>
				{%- endif -%}
				<h2 class="fs-large fup">{{ site.data.more_to_the_mix.title }}</h2>
				<p class="ff-micro fs-body">{{ site.data.more_to_the_mix.body }}
				</p>
			</div>
		</article>
		<article class="mm-images">
			<img class="lazy animate__animated" data-animations="animate__slideInRight" data-src="{{ 'assets/home/mm_record.png' | relative_url }}" alt="a woman sunbathing in a pool in the shape of a vinyl record">
		</article>
	</div>
	<img class="mobile coffee" src="{{ 'assets/home/mm_coffee.png' | relative_url }}" alt="a decorative coffee cup referencing the social cafes available at the Brick & Mortar District at Plum Creek in Kyle, TX">
	<img class="mobile shopping" src="{{ 'assets/home/mm_bag.png' | relative_url }}" alt="a decorative shopping bag referencing the retail shopping available at the Brick & Mortar District at Plum Creek in Kyle, TX">
	
</div>
<div class="slide-holder more">
	<div class="slidebar more animate__animated" data-animations="animate__slideInLeft animate__slower">
	</div>
</div>