
<div class="news" style="background-image:url('{{ 'assets/branding/newsbg.png' | relative_url }}');">
  <img id="lightning" width="490" height="257" src="{{ 'assets/branding/lightning.png' | relative_url }}" alt="A decorative lighting image pointing towards the News section">
  <h2 class="post-header">
  {{ site.data.now_happening.name | default: "Now Happening"}}</h2>
  <span id="newsbig">NEWS</span>
  <ul class="news-list">
    {%- for post in site.posts | limit: 3 -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
        {{ post.excerpt }}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
</div>
    

