---
# Adding yaml for scss compilation
---

@mixin for-small {
  @media only screen and (max-width: 999px) { @content; }
}
@mixin for-med {
  @media only screen and (min-width: 1000px) and (max-width: 1440px) { @content; }
}
@mixin for-med-up {
  @media only screen and (min-width: 1000px) { @content; }
}
@mixin for-large {
  @media only screen and (min-width: 1441px) { @content; }
}

// INDIVIDUAL HOMEPAGE SECTION LAYOUTS

// More to the Mix 
.mm-bg {
  @include for-small {
    background-image:url('{{ 'assets/home/moremixmobile.png' | relative_url }}');
  }
  @include for-med-up {
    min-height: 67vw; 
    height: 67vw;
    background-image:url('{{ 'assets/home/moremix.png' | relative_url }}');
  }
  
}
.mm-content {
  grid-column-start: 1;
  grid-column-end: 13;
  @include for-med-up {
    grid-column-start: 2;
    grid-column-end: 8;
  }
  
}
// charm
.charm-bg {
  @include for-small {
    background-image:url('{{ 'assets/home/charmmobile.png' | relative_url }}');
  }
  @include for-med-up {
    min-height: 55vw; 
    height: 55vw;
    background-image:url('{{ 'assets/home/charm.png' | relative_url }}');
  }
}
.charm-content {
  grid-column-start: 1;
  grid-column-end: 13;
  @include for-med-up {
    grid-column-start: 3;
    grid-column-end: 8;
  }
  
}

// hats
.hats-bg {
  @include for-small {
    background-image:url('{{ 'assets/home/hatsmmobile.png' | relative_url }}');
  }
  @include for-med-up {
    min-height: 57vw; 
    height: 57vw;
    background-image:url('{{ 'assets/home/hats.png' | relative_url }}');
  }
}
.hats-content {
  grid-column-start: 1;
  grid-column-end: 13;
  @include for-med-up {
    padding-left: 30px;
    grid-column-start: 1;
    grid-column-end: 7;
  }
}

//amenities / life with benefits
.benefits-bg {
  @include for-small {
    //background-image:url('{{ 'assets/home/hatsmmobile.png' | relative_url }}');
  }
  @include for-med-up {
    min-height: 57vw; 
    height: 57vw;
    background-image:url('{{ 'assets/home/benefitslifestyle.png' | relative_url }}');
    background-size: 35% auto;
    background-position: left center;
    background-repeat: no-repeat;
  }
  position: relative;
  .behind {
    font-family: HWT American;
    position: absolute;
    bottom: -80px;
    left: -30px;
    font-size: 22rem;
    opacity: .2;
    pointer-events: none;
    z-index: -1;
  }
}
.benefits-content {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 13;
  @include for-med-up {
    grid-column-start: 6;
    grid-column-end: 13;
  }
  .amenities {
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    li {
      flex-basis: 33%;
    }
  }
}

// businesses welcome
.business-bg {
  @include for-small {
    background-image:url('{{ 'assets/home/businessmobile.jpg' | relative_url }}');
  }
  @include for-med-up {
    min-height: 57vw; 
    height: 57vw;
    background-image:url('{{ 'assets/home/business.jpg' | relative_url }}');
  }
}
.business-content {
  @include for-small {
    grid-column-start: 2;
    grid-column-end: 14;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  @include for-med-up {
    grid-column-start: 3;
    grid-column-end: 8;
  }
}
.business-images {
  grid-column-start: 3;
  grid-column-end: 13;
  @include for-med-up {
    grid-column-start: 9;
    grid-column-end: 15;
  }
  .first {
    @include for-med-up {
      margin-bottom: 30px;
    }
  }
  @include for-small {
    display: flex;
    order: -1;
    padding-top: 30px;
    img { 
      width: 50%; 
    }
  }
}
.slide-holder {
  position: relative;
  width: 100%;
  margin-top: 24px;
  height: 47px;
}
.slidebar.biz {
  background-image:url('{{ 'assets/branding/bizbar.png' | relative_url }}');
  height: 47px;
  width: 100%;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  right: 14.286%;
}

//destination
.destination-bg {
  @include for-small {
    background-image:url('{{ 'assets/home/destinationmobile.jpg' | relative_url }}');
    background-size: cover;
  }
  @include for-med-up {
    min-height: 47vw; 
    background-image:url('{{ 'assets/home/destination.jpg' | relative_url }}');
    background-size: auto 100%;
  }
}
.destination-content {
  @include for-small {
    grid-column-start: 2;
    grid-column-end: 14;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  @include for-med-up {
    grid-column-start: 8;
    grid-column-end: 14;
  }
}
.destination-images {
  grid-column-start: 3;
  grid-column-end: 13;
  @include for-med-up {
    grid-column-start: 1;
    grid-column-end: 7;
  }
  .first {
    @include for-med-up {
      margin-bottom: 30px;
    }
  }
  @include for-small {
    display: flex;
    order: -1;
    padding-top: 30px;
    img { 
      width: 50%; 
    }
  }
}
.slidebar.dest {
  background-image:url('{{ 'assets/branding/destbar.png' | relative_url }}');
  height: 47px;
  width: 100%;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 14.286%;
}

//interest form
.interest-bg {
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 61px; //compensate for bar
  @include for-small {
    background-image:url('{{ 'assets/home/interestbg.jpg' | relative_url }}');
  }
  @include for-med-up {
    min-height: 46vw; 
    height: 46vw;
    background-image:url('{{ 'assets/home/interestbg.jpg' | relative_url }}');
  }
}
.interest-content {
  grid-column-start: 1;
  grid-column-end: 13;
  @include for-med-up {
    grid-column-start: 3;
    grid-column-end: 9;
  }
}
.interest-form {
  grid-column-start: 1;
  grid-column-end: 13;
  @include for-med-up {
    grid-column-start: 9;
    grid-column-end: 13;
  }
}
.slidebar.interest {
  background-image:url('{{ 'assets/branding/redbar.png' | relative_url }}');
  //transform: translateX(14.286%);
  position: absolute;
  left: 14.286%;
  width: 100%;
}

// homepage posts section
.news {
  background-image:url('{{ 'assets/branding/newsbg.png' | relative_url }}');
  background-size: cover;
  background-position: center center;
  text-align: center;
  position: relative;
  @include for-med-up {
    min-height: 52vw; 
    height: 52vw;
  }

  h2 {
    font-size: 4.3rem;
    color: white;
    @include for-small {
      font-size: 2.2rem;
    }
  }
  #lightning {
    z-index: 1;
    transform: translateX(10px);
    position: relative;
  }
  
  #newsbig {
    font-family: HWT American;
    position: absolute;
      top: -140px;
      left: 20%;
      font-size: 22rem;
      opacity: .38;
      pointer-events: none;
  }
  .news-list {
    grid-column-start: 1;
    grid-column-end: 13;
    @include for-med-up {
      grid-column-start: 3;
      grid-column-end: 11;
    }
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    @include for-small {
      grid-template-columns: 1fr;
    }
    article {
      background: white;
      padding: 20px;
    }
  }
}


// the people behind it
.the-people {
  h2 {
    color: #2F3634;
    text-align: center;
    font-size: 4.3rem;
    line-height: 1.4;
    @include for-small {
      font-size: 2.1rem;
      line-height: 1.4;
    }
  }
  .whos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @include for-small {
      grid-template-columns: 1fr 1fr;
    }
    .who {
      padding: 20px 20px 50px 20px;
      position: relative;
      @include for-med-up {
        &:not(:last-of-type) {
            border-right-style: dotted;
            border-right-width: 5px;
        }
      }
      @include for-small {
        text-align: center;
      }
      .icon-space {
        min-height: 120px;
      }
      h3 {
        color: #881719;
        font-size: 1.8rem;
        text-transform: uppercase;
        @include for-small {
          font-size: 1.2rem;
          line-height: 1.2;
        }
      }
      p {
        color: #881719;
        font-size: 22px;
        line-height: 1.9;
        @include for-small {
          font-size: 16px;
          line-height: 1.4;
        }
      }
      a {
        background-color: #881719;
        color: #E5E3DD;
        font-family: Forma DJR Display;
        letter-spacing: 1px;
        border-radius: 24px;
        position: absolute;
        bottom: 0;
        @include for-small {
          left: 50%;
          transform: translateX(-50%);
          font-size: 16px;
          padding: 5px 30px 3px 30px;
        }
        @include for-med-up {
          padding: 0px 30px 0px 30px;
          font-size: 24px;
        }
      }
    }
  }
}

