---
# Adding yaml for scss compilation
---

@mixin for-small {
  @media only screen and (max-width: 999px) { @content; }
}
@mixin for-med {
  @media only screen and (min-width: 1000px) and (max-width: 1440px) { @content; }
}
@mixin for-med-up {
  @media only screen and (min-width: 1000px) { @content; }
}
@mixin for-large {
  @media only screen and (min-width: 1441px) { @content; }
}

// INDIVIDUAL HOMEPAGE SECTION LAYOUTS

// Hero 
.hero_image {
  width: 100%;
  height: auto;
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: 50vw;
  background-image:url('{{ site.data.hero_image.hero_image }}');
  @include for-small {
    background-image:url('{{ site.data.hero_image.hero_image_mobile }}');
  }
  &> img {
    max-width: 100%;
    height: auto;
    @include for-med-up {
      opacity: 0;
    }
  }
}
.hero_mobile_sections img {
  max-width: 100%;
  height: auto;
}
.sideby {
    display: flex;
}
.sideby div {
    width: 50%;
    background-size: cover;
    background-position: center center;
}
.sideby img {
  opacity: 0;
}
.slidebar.hero {
  background-image:url('{{ 'assets/branding/bar_blue.png' | relative_url }}');
}



// More to the Mix 
.mm-bg {
  position: relative;
  padding-bottom: 5vw;
  @include for-small {
    background-image:url('{{ 'assets/home/moremixmobile.jpg' | relative_url }}');
    background-size: cover;
    background-repeat: no-repeat;
  }
  @include for-med-up {
    min-height: 67vw; 
    background-image:url('{{ 'assets/home/moremix.jpg' | relative_url }}');
    background-size: cover;
  }
  .mm-content {
    z-index: 2;
    @include for-small {
      grid-column-start: 2;
      grid-column-end: 14;
      padding-top: 40px;
      padding-bottom: 20px;
      text-align: center;
    }
    @include for-med-up {
      grid-column-start: 2;
      grid-column-end: 8;
      padding-top: 40px;
      padding-bottom: 40px;
    }
    
  }
  .mm-images {
    z-index: 2;
    @include for-small {
      grid-column-start: 2;
      grid-column-end: 14;
      margin-top: -8.668vw;
    }
    @include for-med-up {
      grid-column-start: 8;
      grid-column-end: 15;
      //transform: translateY(-215px);
      img {
        transform: scale(1.3);
      }
    }
  }
  .guitar {
    position: absolute;
    width: 70vw;
    left: 10vw;
    top: 0;
    mix-blend-mode: multiply;
    @include for-small {
      width: 100vw;
      left: 3vw;
    }
  }
  .coffee {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .6;
  }
  .shopping {
    position: absolute;
    top: 250px;
    left: 0;
    mix-blend-mode: multiply;
    opacity: 0.7;
  }
}
.slide-holder.more {
  @include for-med-up {
    margin-top: calc((100vw * 0.01354166667) - (5.6vw));
    margin-bottom: 9vw;
  }
 
}
.slidebar.more {
  background-image:url('{{ 'assets/branding/bar_red.png' | relative_url }}');
  right: 0;
}

// charm
.charm-bg {
  @include for-small {
    background-image:url('{{ 'assets/home/charm_mobile.jpg' | relative_url }}');
  }
  @include for-med-up {
    background-image:url('{{ 'assets/home/charm.jpg' | relative_url }}');
    // background-attachment: fixed;
    background-position-x: 7vw;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .charm-content {
    @include for-small {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 10;
      padding-top: 30px;
      padding-left: 15px;
    }
    h2, p {
      position: relative;
      z-index: 9;
    }
    
    @include for-med-up {
      grid-column-start: 3;
      grid-column-end: 8;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .charm_map {
      @include for-med-up {
        position: absolute;
        top: -13vw;
        left: -9vw;
        z-index: 1;
        width: 32vw;
      }  
    }
  }
  .tower {
    @include for-small {
      grid-column-start: 10;
      grid-column-end: 15;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    @include for-med-up {
      grid-column-start: 8;
      grid-column-end: 11;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    img {
      max-width: 100%;
      height: auto;
    }
      
  }
  .people {
    @include for-small {
      grid-column-start: 10;
      grid-column-end: 15;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      order: -1;
    }
    @include for-med-up {
      grid-column-start: 11;
      grid-column-end: 15;
    } 
  }
}
.slidebar.charm {
  background-image:url('{{ 'assets/branding/bar_biz.png' | relative_url }}');
  left: 14.286%;
}

// hats
.hats-bg {
  @include for-small {
    background-image:url('{{ 'assets/home/hatsbg_mobile.jpg' | relative_url }}');
    background-size: cover;
  }
  @include for-med-up {
    background-image:url('{{ 'assets/home/hatsbg.jpg' | relative_url }}');
    background-position: right 7vw top 0;
    background-size: cover;
    padding-top: 07.5vw;
    margin-top: 215px;
  }
  background-repeat: no-repeat;
  .bigword.live {
    bottom: -60px;
    left: 5%;
    color: #304251;
    z-index: 1;
    mix-blend-mode: multiply;
    @include for-med-up {
      font-size: 17rem;
      opacity: .38;
    }
    @include for-small {
      opacity: .4;
      font-size: 8rem;
      bottom: 70vw;
      left: 15%;
    }
  }
  .cogs {
    position: absolute;
    top: -120px;
    left: 0;
    opacity: .6;
    @include for-small {
      height: 220px;
      width: auto;
      top: 0;
    }
  }
}
.hats-content {
  z-index: 2;
  @include for-small {
    text-align: center;
    padding-bottom: 30px;
    grid-column-start: 2;
    grid-column-end: 13;
    padding-top: 30px;
  }
  
  @include for-med-up {
    padding-left: 30px;
    padding-bottom: 30px;
    grid-column-start: 2;
    grid-column-end: 7;
  }
}
.hats-images {
  z-index: 2;
  @include for-small {
    grid-column-start: 1;
    grid-column-end: 15;
  }
  
  
  @include for-med-up {
    grid-column-start: 9;
    grid-column-end: 15;
    transform: translateY(-215px);
  }
}
.slidebar.hats {
  background-image:url('{{ 'assets/branding/bar_red.png' | relative_url }}');
  right: 14.286%;
}

//amenities / life with benefits
.benefits-bg {
  @include for-small {
    //background-image:url('{{ 'assets/home/hatsmmobile.png' | relative_url }}');
  }
  @include for-med-up {
    min-height: 57vw; 
    height: 57vw;
    background-image:url('{{ 'assets/home/benefitslifestyle.jpg' | relative_url }}');
    background-size: 35% auto;
    background-position: left center;
    background-repeat: no-repeat;
  }
  position: relative;
  .bigword.enjoy {
    bottom: -5rem;
    opacity: .1;
    z-index: -1;
    font-size: 12rem;
    @include for-med-up {
      font-size: 22rem;
      right: -40vw;
    }
    @include for-small {
      left: 40vw;
    }
  }
}
.benefits-content {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 13;
  @include for-med-up {
    grid-column-start: 6;
    grid-column-end: 13;
  }
  .amenities {
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    
    li {
      flex-basis: 33%;
      color: #881719;
      font-size: 19px;
      @include for-small {
        flex-basis: 50%;
        padding-right: 18px;
        font-size: 15px;
      }
    }
  }
}

// corner rendering 

.corner_rendering {
  width: 100%;
  height: auto;
}

// businesses welcome
.business-bg {
  position: relative;
  @include for-small {
    background-image:url('{{ 'assets/home/businessmobile.jpg' | relative_url }}');
  }
  @include for-med-up {
    min-height: 57vw; 
    background-image:url('{{ 'assets/home/business.jpg' | relative_url }}');
    background-position: right 7vw top 0;
    background-repeat: no-repeat;
  }
  .bigword.work {
    color: #304251;
    z-index: 1;
    @include for-med-up {
      font-size: 22rem;
      opacity: .38;
      bottom: -5rem;
      left: -10vw;
    }
    @include for-small {
      opacity: .4;
      bottom: 0;
      right: -10vw;
      font-size: 8rem;
    }
  }
}
.business-content {
  z-index: 2;
  @include for-small {
    grid-column-start: 2;
    grid-column-end: 14;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  @include for-med-up {
    grid-column-start: 3;
    grid-column-end: 8;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.business-images {
  grid-column-start: 2;
  grid-column-end: 14;
  z-index: 2;
  @include for-med-up {
    grid-column-start: 9;
    grid-column-end: 15;
  }
  .first {
    @include for-med-up {
      margin-bottom: 30px;
    }
  }
  div {
    @include for-med-up {
      background-image: none !important;
    }
  }
  @include for-small {
    display: flex;
    order: -1;
    padding-top: 30px;
    div {
      flex-basis: 50%;
      flex-grow: 0;
      flex-shrink: 0;
      background-size: cover;
      background-position: center center;
    }
    img { 
      width: 100%; 
      height: auto;
      max-width: 100%;
      max-height: 100%;
      opacity: 0;
    }
  }
}

.slidebar.biz {
  background-image:url('{{ 'assets/branding/bar_biz.png' | relative_url }}');
  right: 14.286%;
}

//destination
.destination-bg {
  @include for-small {
    background-image:url('{{ 'assets/home/destinationmobile.jpg' | relative_url }}');
    background-size: cover;
  }
  @include for-med-up {
    min-height: 47vw; 
    background-image:url('{{ 'assets/home/destination.jpg' | relative_url }}');
    background-size: auto 100%;
  }
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
}
.destination-content {
  @include for-small {
    grid-column-start: 2;
    grid-column-end: 14;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  @include for-med-up {
    grid-column-start: 8;
    grid-column-end: 14;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.destination-images {
  grid-column-start: 2;
  grid-column-end: 14;
  @include for-med-up {
    grid-column-start: 1;
    grid-column-end: 7;
  }
  div {
    @include for-med-up {
      background-image: none !important;
    }
  }
  .first {
    @include for-med-up {
      margin-bottom: 30px;
    }
  }
  @include for-small {
    display: grid;
    grid-template-columns: 1fr 1fr;
    order: -1;
    padding-top: 30px;
    div {
      flex-basis: 50%;
      flex-grow: 0;
      flex-shrink: 0;
      z-index: 2;
      background-size: cover;
      background-position: center center;
    }
    img { 
      width: 100%; 
      opacity: 0;
      z-index: 2;
      max-width: 100%;
      height: auto;
    }
  }
}
.bigword.visit {
  top: 0;
  right: 0;
  color: #304251;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  z-index: 1;
  mix-blend-mode: multiply;
  @include for-med-up {
    font-size: 14rem;
    opacity: .38;
  }
  @include for-small {
    opacity: .3;
    font-size: 8rem;
  }
}
.slidebar.dest {
  background-image:url('{{ 'assets/branding/bar_dest.png' | relative_url }}');
  left: 14.286%;
}

// site rendering
.site_rendering {
  width: 100%;
  height: auto;
}



// the people behind it
.the-people {
  h2 {
    color: #2F3634;
    text-align: center;
    font-size: 4.3rem;
    line-height: 1.4;
    @include for-small {
      font-size: 2.1rem;
      line-height: 1.4;
    }
  }
  .whos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @include for-small {
      grid-template-columns: 1fr;
    }
    .who {
      position: relative;
      @include for-med-up {
        padding: 20px 20px 50px 20px;
        &:not(:last-of-type) {
            border-right-style: dotted;
            border-right-width: 5px;
        }
      }
      @include for-small {
        text-align: center;
        padding: 20px 10px 30px 10px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        &:not(:first-of-type) {
            border-top-style: dotted;
            border-top-width: 5px;
        }
      }
      .icon-space {
        min-height: 120px;
        @include for-small {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
      h3 {
        color: #881719;
        font-size: 1.8rem;
        text-transform: uppercase;
        @include for-small {
          font-size: 1.2rem;
          line-height: 1.2;
        }
      }
      p {
        color: #881719;
        font-size: 22px;
        line-height: 1.9;
        @include for-small {
          font-size: 16px;
          line-height: 1.4;
        }
      }
      a {
        background-color: #881719;
        color: #E5E3DD;
        letter-spacing: 1px;
        border-radius: 24px;
        @include for-small {
          font-size: 16px;
          padding: 5px 30px 3px 30px;
        }
        @include for-med-up {
          padding: 0px 30px 0px 30px;
          font-size: 24px;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}

// homepage posts section
.news {
  background-image:url('{{ 'assets/home/news_bg.jpg' | relative_url }}');
  background-size: cover;
  background-position: center center;
  text-align: center;
  position: relative;
  @include for-med-up {
    min-height: 52vw; 
    height: 52vw;
  }
  @include for-small {
    padding-bottom: 100px;
  }

  h2 {
    font-size: 4.3rem;
    color: white;
    @include for-small {
      font-size: 2.2rem;
    }
  }
  #lightning {
    z-index: 1;
    transform: translateX(10px);
    position: relative;
    @include for-small {
      height: auto;
      max-width: 60vw;
      margin-top: 30px;
    }
  }
  
  .bigword.neews {
    opacity: .3;
    @include for-med-up {
      font-size: 22rem;
      left: 30vw;
      top: -1.5rem;
    }
    @include for-small {
      font-size: 8rem;
      width: 100%;
      left: 0;
      top: 1rem;
    }
  }
  .news-list {
    grid-column-start: 3;
    grid-column-end: 11;
    @include for-med-up {
      grid-column-start: 3;
      grid-column-end: 11;
    }
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    @include for-small {
      grid-template-columns: 1fr;
    }
    article {
      padding: 20px;
      @include for-small {
        margin-bottom: 15px;
        padding: 10px;
      }
      img {
        padding: 20px;
        background: white;
      }
      h3 {
        color: white;
      }
    }
  }
}
.slidebar.neews {
  background-image:url('{{ 'assets/branding/bar_news.png' | relative_url }}');
}

//interest form
.interest-bg {
  background-repeat: no-repeat;
  position: relative;
  @include for-small {
    background-image:url('{{ 'assets/home/interestbg.jpg' | relative_url }}');
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @include for-med-up {
    min-height: 46vw; 
    height: 46vw;
    background-image:url('{{ 'assets/home/interestbg.jpg' | relative_url }}');
    background-position: left 07.291666667vw top 0px; //140px offset @ 1920px wide = 140/1920 is ratio 
    background-size: cover;
  }
  .bigword.join {
    left: 12%;
    color: #304251;
    z-index: 1;
    mix-blend-mode: multiply;
    @include for-med-up {
      font-size: 17rem;
      opacity: .38;
      top: 40%;
    }
    @include for-small {
      opacity: .4;
      font-size: 8rem;
      top: 20px;
    }
  }
}
.interest-content {
  grid-column-start: 3;
  grid-column-end: 11;
  z-index: 2;
  @include for-med-up {
    grid-column-start: 3;
    grid-column-end: 9;
  }
}
.interest-form {
  background-color: #881719;
  grid-column-start: 3;
  grid-column-end: 11;
  z-index: 2;
  @include for-med-up {
    grid-column-start: 9;
    grid-column-end: 12;
    margin-left: 30px;
  }
  .mc-wrap {
    label {
      display: none;
    }
    input {
        width: 100%;
        padding: 10px;
        margin: 10px;
        display: block;
    }

    .mc-field-group {
        display: flex;
    }

    #mc_embed_signup_scroll {
        padding: 10px 5px;
    }

    #mc-embedded-subscribe {
        width: auto;
        padding: 5px 30px 3px 30px;
    }

    .clear {
        display: flex;
        justify-content: flex-end;
    }
  }
}
.slidebar.interest {
  background-image:url('{{ 'assets/branding/bar_red.png' | relative_url }}');
  left: 14.286%;
}


// footer hero
.footer_hero {
    width: 100%;
    height: auto;
}
.slidebar.footer {
  background-image:url('{{ 'assets/branding/bar_gold.png' | relative_url }}');
}

