body {
	/*overflow-x: hidden;*/
}
h2 {
	font-family: Neuzon;
}
#topanchor {
	height: 1px;
	background-color: black;
}
.site-header {
	background-color: #F5F5F5;
	border-top: 20px solid black;
	border-bottom: 0;
	min-height: 100px;
	position: sticky;
	top: -60px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    box-shadow: 0px 0px 6px 0px rgb(201 201 201);
}
.site-header .site-header-inner {
	background-color: #F5F5F5;
	height: 60px;
	position: sticky;
	top: 0px;
	margin: 0;
	z-index: 99;
}

.page-width {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media only screen and (max-width: 750px) {
	.page-width {
		padding-left: 10px;
		padding-right: 10px;
	}
}
.spacer {
	margin-top: 100px;
	margin-bottom: 100px;
	opacity: 0;
}

.hero_image {
	width: 100%;
	height: auto;
	background-position: center center;
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.hero_image > img {
	opacity: 0;
}

/* corner rendering image row */
#corner_rendering {
	width: 100%;
	height: auto;
}


/* site rendering image row */
#site_rendering {
	width: 100%;
	height: auto;
}
/* The people behind section */
.whos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.who {
	padding: 20px 20px 50px 20px;
	position: relative;
}
@media only screen and (max-width: 750px) {
	.whos {
		grid-template-columns: 1fr 1fr;
	}
	.who:nth-of-type(1) {
	    border-right-style: dotted;
	    border-right-width: 5px;
	}
}
.who:not(:last-of-type) {
    border-right-style: dotted;
    border-right-width: 5px;
}
.icon-space {
    min-height: 120px;
}
.the-people h2 {
	color: #2F3634;
	font-size: 4.3rem;
	text-align: center;
}
.whos h3 {
	color: #881719;
	font-size: 1.8rem;
	font-family: Forma DJR Display;
	text-transform: uppercase;
}
.whos p {
	font-family: Forma DJR Micro;
	color: color: #881719;
	font-size: 22px;
	line-height: 1.9;
}
.whos a {
	background-color: #881719;
	color: #E5E3DD;
	font-family: Forma DJR Display;
	padding: 10px 30px;
	font-size: 24px;
	letter-spacing: 1px;
	border-radius: 25px;
	position: absolute;
	bottom: 0;
}

/* news section */
.news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 904px;
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow-x: hidden;
}
#lightning {
    z-index: 1;
}
.post-header {
	font-size: 4.3rem;
	color: white;
}
#newsbig {
	font-family: HWT American;
	position: absolute;
    top: -140px;
    left: 10%;
    font-size: 22rem;
    opacity: .38;
    pointer-events: none;
}
ul.news-list {
    margin: 0;
    list-style-type: none;
}

/* interest form */
.divbar.push {
	background-position: 100px auto;
}

/* hero above footer */
.divbar {
	height: 21px;
	background-size: auto 100%;
	background-position: center;
	background-repeat: repeat-x;
}
img#footer_hero {
    width: 100%;
    height: auto;
}

/* footer styles */
.footer-content {
    display: flex;
    padding-bottom: 30px;
    justify-content: space-between;
}
.footer-logos {
    display: flex;
    align-items: flex-end;
}
#footer_logo {
    margin-top: -70px;
}
img#dev_logos {
    height: auto;
}
.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul.footer-links {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

ul.footer-links li {
    padding: 5px 15px;
}

.addr-social {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.legal {
	font-family: Forma DJR Micro;
	font-size: 11px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-bottom: 20px;

}