body {
	/*overflow-x: hidden;*/
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
.home {
	overflow-x: hidden;
}
* {
    box-sizing: border-box;
}
h2 {
	font-family: Neuzon;
}
p {
	white-space: break-spaces;
}
strong {
	/*text-shadow: 0 0 #304251;*/
}
/* css helpers */
/* font-color */
.fc-white {
	color: white;
}
.fc-dark {
	color: #304251;
}
.fc-light {
	color: #E5E3DD;
}
/* font-family helpers */
.ff-neu {
	font-family: neuzon, sans-serif;
}

.ff-micro {
	font-family: forma-djr-micro, sans-serif;
}
.ff-display {
	font-family: forma-djr-display, sans-serif;
}
.ff-akro {
	font-family: korolev-condensed, Helvetica, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

#topanchor {
	height: 1px;
	background-color: black;
	position: absolute;
	top: 300px;
}
.site-header {
	background-color: #F5F5F5;
	border-top: 20px solid black;
	border-bottom: 0;
	min-height: 100px;
	position: sticky;
	top: -40px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    box-shadow: 0px 0px 6px 0px rgb(201 201 201);
    z-index: 99;
}
.site-header .site-header-inner {
	background-color: #F5F5F5;
	height: 60px;
	position: sticky;
	top: 0px;
	margin: 0;
	z-index: 99;
}

.page-width {
  max-width: 1560px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media only screen and (max-width: 750px) {
	.page-width {
		padding-left: 10px;
		padding-right: 10px;
	}
}

.sized_section {
	position: relative;
	/*background-size: 100% auto;*/
}
.grid12 {
	display: grid;
	grid-template-columns: repeat(12,1fr);
}
.grid14 {
	display: grid;
	grid-template-columns: repeat(14,1fr);
}
.vcen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}
