@mixin for-small {
  @media only screen and (max-width: 999px) { @content; }
}
@mixin for-med {
  @media only screen and (min-width: 1000px) and (max-width: 1440px) { @content; }
}
@mixin for-med-up {
  @media only screen and (min-width: 1000px) { @content; }
}
@mixin for-large {
  @media only screen and (min-width: 1441px) { @content; }
}
// @mixin for-tab-up {
//   @media (min-width: 560px) { @content; }
// }
// @mixin for-tab-only {
//   @media (min-width: 560px) and (max-width: 949px) { @content; }
// }
// @mixin for-desk-up {
//   @media (min-width: 950px) { @content; }
// }
// @mixin for-hd-up {
//   @media (min-width: 1600px) { @content; }
// }
// @mixin for-retina {
//   @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) { @content; }
// }

/**
 * Site header
 */
// font-size helpers
.fs-large {
  @include for-large {
    font-size: 68px;
    line-height: 58px;
  }
  @include for-med {
    font-size: 44px;
    line-height: 40px;
  }
  @include for-small {
    font-size: 28px;
    line-height: 32px;
  }
}
.fs-body {
  @include for-large {
    font-size: 24px;
    line-height: 48px;
  }
  @include for-med {
    font-size: 20px;
    line-height: 36px;
  }
  @include for-small {
    font-size: 16px;
    line-height: 28px;
  }
}
.fup {
  text-transform: uppercase;
}
.desktop {
  @include for-small {
    display: none;
  }
}
.mobile {
  @include for-med-up {
    display: none;
  }
}

//TOP NAV
.site-header-inner {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    @include for-small {
      grid-template-columns: 5fr 3fr;
    }
    .logowrap {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .tlinks {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      @include for-small {
        display: none;
      }
      nav {
        width: 100%;
        ul  {
          padding: 0;
          margin: 0;
          list-style-type: none;
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: space-evenly;
          li {
            padding: 5px 10px;
            text-align: center;
            a {
              color: black;
            }
            a:visited {
              color: black;
            }
          }
        }
      }
      
    }
    .nav-cta {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      font-family: forma-djr-display, sans-serif;
      #topcta {
        background-color: #782224;
        padding: 5px 10px;
        border: none; //1px solid white;
        border-radius: 24px;
        letter-spacing: 1px;
        color: white;//#E5E3DD;
        @include for-small {
          font-size: 13px;
        }
        &:hover {
          color: white;
          text-decoration: none;
        }
      }
    }
}
//scroll logics.
#logoscrolled {
    // position: absolute;
    // left: 0;
    // top: 15px;
}
#logomain {
  position: absolute;
  top: -32px;
  left: 0;
  z-index: 999;
  max-width: 323px;
  width: 100%;
  transform: rotate(352deg);
  @include for-small {
    display: none;
  }
}

#logoscrolled {
  opacity: 0;
  transition: .2s ease opacity;
  @include for-small {
    opacity: 1;
  }
}
#logomain {
  opacity: 1;
  transition: .2s ease opacity;
}
.header-not-at-top #logoscrolled {
  opacity: 1;
}
// .header-not-at-top #logomain {
//   opacity: 0;
// }


// COMMON ELEMENTS 
.cta {
  background-color: #782224;
  padding: 5px 30px;
  border: 1px solid white;
  border-radius: 24px;
  letter-spacing: 1px;
  color: white; //#E5E3DD;
  font-family: forma-djr-display, sans-serif;
  display: inline-block;
  @include for-large {
    font-size: 24px;
    line-height: 48px;
  }
  @include for-med {
    font-size: 20px;
    line-height: 36px;
  }
  @include for-small {
    font-size: 16px;
    line-height: 28px;
  }
  &:visited {
    color: #c5c3bd;
  }
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.spacer {
  opacity: 0;
  @include for-small {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  @include for-med {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  @include for-large {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

.slide-holder {
  position: relative;
  width: 100%;
  margin-top: calc(100vw * 0.01354166667);
  height: calc(100vw * 0.01458333333);
  @include for-small {
    height: calc(100vw * 0.028);
    margin-top: calc(100vw * 0.028);
  }
}
.slidebar {
  height: calc(100vw * 0.01458333333);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  @include for-small {
    height: calc(100vw * 0.028);
  }
}
.bigword {
  font-family: hwt-american-shopworn, sans-serif;
  position: absolute;
  pointer-events: none;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
}

//  DEFAULTS FROM MINIMA
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



// footer styles
.site-footer {
  border-top: 17px solid #2d2d2d;
  .footer-logos {
    grid-column-start: 1;
    grid-column-end: 7;
    display: flex;
    align-items: baseline;
    @include for-small {
      grid-column-start: 1;
      grid-column-end: 13;
      flex-direction: column;
      align-items: center;
    }
    .developers {
      flex-shrink: 0;
    }
    #footer_logo {
        margin-top: -70px;
        transform: rotate(352deg);
        max-width: 323px;
    }
    img#dev_logos {
        height: auto;
    }
  }

  .flinks {
    grid-column-start: 9;
    grid-column-end: 13;
    @include for-small {
      grid-column-start: 1;
      grid-column-end: 13;
      align-items: center;
      margin-top: 20px;
    }   
    display: flex;
    flex-direction: column;
    justify-content: center;
    .footer-links {
        list-style-type: none;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 500px;
        li {
          padding: 5px 10px;
          text-align: center;
          a {
            color: #881719;
          }
          a:visited {
            color: #881719;
          }
          @include for-small {
            padding: 5px 6px;
          }
        }
        span {
          color: #881719;
        }
    }
    .addr-social {
       display: flex;
       justify-content: space-between;
       padding: 15px 10px;
       color: #2F3634;
       width: 100%;
       p {
        margin-bottom: 0;
       }
       .social-icons {
          display: flex;
          img {
            height: 35px;
            margin-left: 6px;
          }
       }
    }
  }
  .legal {
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 20px;
     
  }
 }



/**
 * Page content
 */
.page-content {
  padding: 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}


/**
 * Posts (page)
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}


